.image{
	height:100% ;
	background-size:cover;
	width:auto;
	background-image:url('src/assets/298504-parking_lot-monochrome-748x498.jpg');
	background-position:center;
	background-blend-mode:multiply ;
  }
