<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <h2>List Of Slots Available :</h2>
      <tr>
        <th>Slot Id</th>
        <th>Location</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of slotList | paginate : { itemsPerPage:4, currentPage:page }">
        <td>{{s.slotId}}</td>
        <td> {{s.location}} </td>
        <td> {{s.type}} </td>
        <td>{{s.price}}</td>
        <td> <button class="btn btn-primary" (click)=bookSlot(s)>Book</button> </td>
      </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>