<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="bg-light">
  <div style="text-align: center;">
    <h1>{{ title }} </h1>
  </div>
</div>
<nav class="navbar navbar-icon-top navbar-expand navbar-dark bg-dark">
 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item hover">
        <a class="nav-link" *ngIf="!this.service.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['login']">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item hover">
          <a class="nav-link" *ngIf="!this.service.isUserLoggedIn()" href="#" class="nav-link" [routerLink]="['register']">
            <i class="fa fa-registered" aria-hidden="true">
              <span class="sr-only">(current)</span>
            </i>
            Register
          </a>
        </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>


