<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Location</th>
        <th>Two Wheeler Slots Available</th>
        <th>Four Wheeler Slots Available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let park of parking">
        <td> {{park.location}} </td>
        <td> {{park.twoWheelerAvailable}} </td>
        <td> {{park.twoWheelerAvailable}} </td>
        <td> <button class="btn btn-primary" (click)=viewParking(park)>Book Slot</button> </td>
        </tr>
    </tbody>
  </table>
</div>

<form class="text-center" (ngSubmit)="back()">
  <a href="/customer" class="btn btn-outline-info" role="button" aria-disabled="true">Back To Menu</a>
 
</form>
